@page "/"
@using System.Text.RegularExpressions

<div>
    <h3>Enter Dimensions</h3>
    <input type="text" name="rows_size" id="rows_size" placeholder="Rows" @bind:get="inputValue" @bind:set="OnInput" @bind:event="oninput" />
    <input type="number" name="cols_size" id="cols_size" placeholder="Cols" @bind:get="ColsBlock" @bind:set="OnInput2" @bind:event="oninput" />
</div>

@code {

    private string? inputValue;

    private void OnInput(string value)
    {
        var newValue = value ?? string.Empty;

        inputValue = newValue.Length > 4 ? "Long!" : newValue;
    }

    private void OnInput2(string value)
    {
        var newValue = StrToIntDef(value ?? string.Empty, 0);

        if (newValue > 3)
            newValue = 3;

        ColsBlock = newValue.ToString();
    }


    public int RowsBlock { get; set; }
    string? ColsBlock { get; set; }

    public static int StrToIntDef(string s, int @default) =>
    int.TryParse(s, out int result) ? result : @default;
}
