@rendermode InteractiveServer

<button style="width: 100%; height: 100%;">@Text</button>

@code {
    [Parameter]
    public string Text { get; set; } = "1";

    [Parameter]
    public string ElemWidthInPx4Button { get; set; } = "10";
}
