@using BlazorCalculatorDemo.StateContainer

@rendermode InteractiveServer

@inject Calculator2State _calculator2State

<button class="app-button-fullfill" @onclick="@( (e) => { OnBtnClick(e); } )">@Text</button>

@code {
    [Parameter]
    public string Text { get; set; } = "NA";

    void OnBtnClick(MouseEventArgs mouseEvent)
    {
        var typ = mouseEvent.Type;
    }
}
