/*.body {
    background: #FFA726;
}*/

.container {
    padding: 30px;
    border: 1px solid grey;
    margin-top: 50px;
    background: whitesmoke;
    box-shadow: 5px 5px #525252;
    border-radius: 10px;
}

.nopadding {
    padding: 0px;
}