
#sudoku {
    width: 297px;
    height: 297px;
}

.parentCube {
    width: 99px;
    height: 99px;
    float: left;
}

.childCube {
    width: 33px;
    height: 33px;
    float: left;
    border: solid;
}