@page "/"
@page "/soduku"

<h3>Soduku</h3>
<br />

<div>
    <input type="text" name="rows_size" @bind=@rows placeholder="Rows" />
    <input type="text" name="cols_size" @bind=@cols placeholder="Columns" />
</div>

<br />

<table>

    @for (int i = 0; i < rows; i++)
    {
        <tr>
            @for (int j = 0; j < cols; j++)
            {
                <td>
                    <div>
                        <SodukuBlock BlockRows="@cols" BlockCols="@rows"></SodukuBlock>
                    </div>
                </td>
            }
        </tr>
    }
</table>




@code {
    int rows = 1;
    int cols = 2;

    string GetCellHeight() => (100.0 / rows).ToString();
    string GetCellWidth() => (100.0 / cols).ToString();

    //string GetMainStyle() => $"background-color:blue";

    string GetRowStyle() => "height:" + GetCellHeight() + "%;";

    string GetStyle() => "width:" + GetCellWidth() + "%;padding-bottom:" + GetCellHeight() + "%;";

    string GetMainId(int row, int col) => $"SodukuMainCell[{row},{col}]";
}
