
<div style="@GetMainStyle()">
    <table>
        @for (int i = 0; i < BlockRows; i++)
        {
            <tr style="@GetRowStyle()">
                @for (int j = 0; j < BlockCols; j++)
                {
                    <td style="@GetStyle()">
                        X
                    </td>
                }
            </tr>
        }
    </table>
</div>

@code {
    [Parameter]
    public int BlockRows { get; set; }
    [Parameter]
    public int BlockCols { get; set; }

    string GetCellHeight() => (100 / BlockRows).ToString();
    string GetCellWidth() => (100 / BlockCols).ToString();

    string GetMainStyle() => $"background-color:blue";

    string GetRowStyle() => "height:" + GetCellHeight() + "%;";

    string GetStyle() => $"width:{GetCellWidth()}%;aspect-ratio:{BlockRows} / {BlockCols};";
    //string GetStyle() => "width:" + GetCellWidth() + "%;padding-bottom:" + GetCellHeight() + "%;";
}
